<br>
<div class="card">
  <h3 class="card-header">Titre de l'événement</h3>
  <div class="card-block">
    <h4 class="card-title">Sous-titre de l'événement</h4>
    <p class="card-text">Description blablablablablablablablablablablablabla<br>
    blablablablabla<br>
    blablablabla</p>
    <a href="#" class="btn btn-primary">Participer</a>
    <br><br>
    <div class="card-footer text-muted">
      <strong>Membres qui participent:</strong>
      <ul>
        <li>SebQc</li>
        <li>CookieDown</li>
        <li>Neoh</li>
      </ul>
    </div>
  </div>
</div>

<br>
<div class="card">
  <h3 class="card-header">Titre de l'événement 2</h3>
  <div class="card-block">
    <h4 class="card-title">Sous-titre de l'événement</h4>
    <p class="card-text">Description blablablablablablablablablablablablabla<br>
    blablablablabla<br>
    blablablabla</p>
    <a href="#" class="btn btn-primary">Participer</a>
    <br><br>
    <div class="card-footer text-muted">
      <strong>Membres qui participent:</strong>
      <ul>
        <li>SebQc</li>
        <li>CookieDown</li>
        <li>Neoh</li>
      </ul>
    </div>
  </div>
</div>
