<!-- <%= content_for :page_title, "Orders" %>
<table class="table">
  <thead>
    <tr>
      <th>Work Order</th>
      <th>From</th>
      <th>To</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>#1</td>
        <td>Neoh</td>
        <td>CookieDown</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
