@import "bootstrap";
@import "variables";
@import "mixins";
// @import "toastr";

body {
  margin-bottom: $navbar-and-footer-size;
  margin-top: $navbar-and-footer-size + 1rem;
}

#auth-button{
  margin-left: 1rem;
}
