body {
  background-image: url(image-path('wallpaper_albion.jpg'));
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}

.container {
  background-color: #edf0f5;
  border-radius: 20px;
  border: 2px solid black;
}
.dropdown-toggle, .dropdown-menu {
  width: 300px;
}
.btn-group img { max-height: 70px;}
.dropdown-toggle { }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700}

.gear {
  padding: 0;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
  cursor: default;
  font-size: 14px;
}

.btn-group button {
  padding-left: 0px;
}

.test {
  float:left;
}

.item:hover {
  background-color: gray;
  cursor: pointer;
}

.btn-group {
  font-size: 5px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.form-signin {
  width: 500px;
}

#selected {
  font-size: 14px;
  line-height: 70px;
}

#skillsdropdown {
  width: 78px;
}

#skillsdropdown a{
  width: 80px;
}

#skillsdropdown .dropdown-menu {
  width: 190px;
  background-color: lightgray;
  max-height: 300px;
  overflow-x: hidden;
}

.gearimage {
  max-width: 100px;
  max-height: 100px;
  float:left;
}

.geartext {
  margin-top: 10px;
}

.col label {
  margin: 0;
  margin-top: 5px;
}
