<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre email a été changé à l'adresse suivante: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre email a été changé à l'adresse suivante: <%= @resource.email %>.</p>
<% end %>
